* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #fff;
  color: #000;
  font-family: "PT Sans", sans-serif;
}
img {
  max-width: 100%;
  height: auto;
}
ul {
  list-style: none;
}
/* Navigation items */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 100px;
}
.nav-items {
  display: flex;
  gap: 1.5rem;
}
.nav-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 17.6px;
}
.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.img-logo {
  max-width: 30.85px;
  margin-top: 4.8px;
}
.logo-name {
  font-weight: 700;
  line-height: 50px;
  font-size: 30px;
}
.fa-bars {
  display: none;
}
/* Navigation items */

/* Hero Section */
.hero-container {
  display: flex;
  align-items: center;
  padding: 0 60px;
  gap: 2rem;
}
.info-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1.5rem;
  padding: 0 50px;
}
.info-container h2 {
  font-size: 48px;
  font-weight: 700;
  max-width: 28rem;
  color: #232c35;
}
.info-container p {
  font-weight: 400;
  font-size: 20px;
  max-width: 22rem;
  color: #4f4f4f;
}
.img-container {
  display: flex;
  flex: 1;
}
/* Hero Section */
/* Details Section */
.details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-top: 80px;
  background-color: rebeccapurple;
  color: #fff;
}
.first-detail {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
  align-items: center;
}
.first-detail h4 {
  font-size: 36px;
  font-weight: 700;
  line-height: 41px;
  max-width: 35rem;
}
.first-detail p {
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  max-width: 28rem;
  color: #E0E0E0;
}
.img-details {
  display: flex;
  align-items: center;
}
.details-items {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding-bottom: 50px;
  max-width: 410px;
}
.details-item {
  display: flex;
  gap: 2rem;
}
.steps {
  max-width: 50px;
  max-height: 50px;
}

.beginning-choices {
  background: linear-gradient(
    to right,
    #a792fe12 0%,
    #a792fe12 50%,
    white 50%,
    white 100%
  );
  background-color: #a792fe12;
}
.more-choices {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 15rem;
}

.choices {
  width: 30%;
  margin: 0 60px;
}
.more-choice {
  display: flex;
  flex-direction: column;
  max-width: 22rem;
  padding: 20px;
  gap: 0.8px;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}
.more-choice h5 {
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  color: #232c35;
}
.more-choice p {
  color: #4f4f4f;
}
.choices-logo1 {
  max-width: 100%;
}
.choices-logo41 {
  max-width: 4rem;
}
.more-choice-heading {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 41px;
  margin-bottom: 40px;
  padding-top: 90px;
}
footer {
  display: flex;
  flex-direction: column;
  background-color: #f2c94c;
}
.footer-details {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 1rem;
  padding-top: 80px;
  padding-bottom: 40px;
}
.footer-details p {
  max-width: 30rem;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  text-align: center;
}
.footer-details h3 {
  font-size: 36px;
  font-weight: 700;
  line-height: 41px;
  text-align: left;
}
.subscribe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  flex-wrap: wrap;
}
input {
  padding: 15px 35px;
  border: 2px solid white;
  outline: none;
  background-color: #f2c94c;
  padding-right: 150px;
}
::placeholder {
  color: #fff;
  font-size: 15px;
  text-align: left;
}
.btn-sub {
  padding: 15px 40px;
  background-color: #000;
  color: white;
  font-size: 1rem;
  font-weight: 400;
  border: none;
  cursor: pointer;
}
/* Footer */
.footer-containers {
  padding-bottom: 55px;
}
.footer-containers h3 {
  color: #232c35;
  font-weight: 700;
  font-size: 36px;
  line-height: 41.22px;
  text-align: left;
}
.footer-containers p {
  color: #233533;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  text-align: center;
}
.footer-ending {
  display: flex;
  justify-content: space-between;
  background-color: #deb63d;
  padding: 30px 10rem;
  color: #fff;
  font-size: 11px;
  font-weight: 400;
  line-height: 9px;
}
/* Footer */
/* Details Section */
@media (max-width: 930px) {
  .fa-bars {
    display: block;
  }
  .nav-item {
    display: none;
  }
  .hero-container {
    flex-direction: column;
  }
  .img-details {
    flex-direction: column;
  }
  .details {
    font-size: 25px;
  }
}
@media (max-width: 600px) {
  .info-container h2 {
    font-size: 24px;
    text-align: center;
  }
  .info-container{
    text-align: center;
  }
  .first-detail h4 {
    font-size: 24px;
  }
  .footer-ending {
    padding: 30px 1rem;
  }
  .more-choice-heading{
    font-size: 24px;
  }
  .footer-details h3{
    font-size: 24px;
  }
}
@media (max-width: 400px) {
  header {
    padding: 15px 40px;
  }
  input {
    padding: 10px 30px;
  }
  .footer-ending {
    font-size: 13px;
  }
}
